

<div class="parallax-container">
  <div class="parallax"><img src="/media/original_images/Broadwell_Die_Diagonal_BWe.jpg"></div>
  <div class="img-disc-home">Intel Public Domain</div>
</div>


<div class="home-my-pic">
  <img src="/media/original_images/square2.jpg" class="circle responsive-img">
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header blue-grey-text">Hello!</h2>
    <p class="grey-text text-darken-3 lighten-3 flow-text">My name is Abirafdi Raditya Putra, a student at University of Gunadarma living in Jakarta.</p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="/media/original_images/DSC03925.jpg"></div>
  <div class="img-disc-home">Taken by Abirafdi Raditya Putra</div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header blue-grey-text">I Make</h2>
    <p class="grey-text text-darken-3 lighten-3 flow-text">Web apps, automated tasks, systems and custom build PCs</p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="/media/original_images/Untitled34.png"></div>
</div>

<div class="section white">
  <div class="row container">
    <h2 class="header blue-grey-text">I Love</h2>
    <p class="grey-text text-darken-3 lighten-3 flow-text">Programming, solving problems, PC hardware and games and its technologies.</p>
  </div>
</div>

<div class="parallax-container">
  <div class="parallax"><img src="/media/original_images/cover3.jpg"></div>
</div>

<div class="section white no-padding">
  <div class="row container">
    <h2 class="header blue-grey-text">Get to Know Me</h2>
    <div class="">
      <p class="valign-wrapper flow-text">
        <a href="http://steamcommunity.com/id/ishouldhaveknown">
          <img src="/media/original_images/steamIconcopy.jpg" height="40px">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://github.com/abirafdirp">
          <img src="/media/original_images/GitHub-Mark-64px.png" height="40px">
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <i class="material-icons medium">email</i>&nbsp;&nbsp;abirafdiraditya@gmail.com
      </p>
    </div>
  </div>
</div>
