<div layout="row" layout-wrap id="home">
    <div flex="90" flex-offset="5" flex-gt-md="70" flex-offset-gt-md="15" layout="column" style="margin-top: 70px">
        <md-divider></md-divider>
    </div>
    <div flex="90" flex-offset="5" flex-gt-md="70" flex-offset-gt-md="15" layout="column" layout-align="center center" class="my-pic-container">
        <img src="/media/original_images/square2.jpg" class="my-pic responsive-img">
    </div>
    <div flex="90" flex-offset="5" flex-gt-md="70" flex-offset-gt-md="15" layout="column" style="margin-top: 70px">
        <h4 class="animated slideInLeft">Who Am I</h4>
        <p class="animated slideInLeft">
            My name is Abirafdi Raditya Putra, a computer science undergraduate student in Gunadarma. I mainly programs in Python.
        </p>
        <h4 class="animated slideInRight">What I Make</h4>
        <ul class="animated slideInRight">
            <li>
                Web Services and SPAs
            </li>
            <li>
                Websites
            </li>
        </ul>
        <h4 class="animated slideInLeft">Hobby Projects</h4>
        <ul class="animated slideInLeft">
            <li>
                Automation
            </li>
            <li>
                Games
            </li>
            <li>
                3D
            </li>
        </ul>
    </div>
    <div flex="90" flex-offset="5" flex-gt-md="70" flex-offset-gt-md="15" layout="column">
        <md-divider></md-divider>
    </div>
    <div flex="90" flex-offset="5" flex-gt-md="70" flex-offset-gt-md="15" layout="column" id="contact" class="animated slideInUp">
        <div>
            <h4>Contact and Profiles</h4>
        <ng-md-icon icon="github-box" style="position: relative; top: 6px;;"></ng-md-icon> <a href="//github.com/abirafdirp">&nbsp;GitHub profile</a>
        </div>
        <div>
            <img src="/media/original_images/steamIconcopy.jpg" height="23px" style="position: relative; top: 5px;"> <a href="//steamcommunity.com/id/ishouldhaveknown">&nbsp;Steam profile</a>
        </div>
        <div>
            <ng-md-icon icon="email" size="24" style="position: relative; top: 8px;"></ng-md-icon><a href= "mailto:abc@example.com">&nbsp;abirafdiraditya@gmail.com</a>
        </div>
    </div>
</div>