#search {
  margin-top: 20px;
  margin-bottom: 0;
}
.card {
  color: rgba(0, 0, 0, 0.87);
}
.material-icons {
}
.main-content {
}
.main-heading {
  margin-top: 50px;
  text-align: center;
}
.main-heading h5 {
  font-weight: 300;
}
.subheading-smaller {
  margin-top: 20px;
  margin-bottom: -30px;
  font-weight: 400;
}
.content li {
  margin-bottom: 5px;
}
.post-meta {
  display: inline-block;
}