/* Typography */
h1 {
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 200%;

}
li {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 200%;
}
a {
  color: #202020;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 200%;
}
a:hover {
  color: #1c1c1c;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 200;
  line-height: 200%;
}
.body {
  background-image: url("bg.jpg");
}
.footer p {
  position: relative;
  font-size: small;
  text-align: center;
  margin: 0;
  padding: 10px;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* no padding */
.no-padding {
  padding-left: 0;
  padding-right: 0;
}
/* backgrounds and images */
.main-background {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center center;
}
.main-background-hidden {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  background-position: center center;
}
.main-image {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.main-image-plus {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  margin-left: auto;
  margin-right: auto;
}
.full-image {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(255, 255, 255, 0.6);
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.full-image-title {
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.subheading-background {
  position: absolute;
  z-index: -1;
  top: -400px;
  left: 0;
  background-position: center center;
}
.subheading-background-fixed {
  position: relative;
  z-index: -1;
  top: -50%;
  left: 0;
  background-position: center center;
}
/* main heading */
.main-heading {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-heading h1 {
  margin-top: 30px;
}
.main-heading h1 span {

  color: #43b1b0;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
.main-heading h2 {
}
.main-heading h2 span {

  color: #43b1b0;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
}
/* Menu Bar */
.menubar {
  background: #ffffff;
  padding: 5px 150px 5px 10px;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 900px){
  .menubar {
  background: #ffffff;
  padding: 5px 0 5px 10px;
  height: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
.menubar .brand {
  float: left;
  text-align: left;
  display: inline;
  margin-left: -20px
}
.menubar .brand > a {
  text-decoration: none;
  font-size: 27px;
  font-weight: 800;
  line-height: 36px;
  color: #43b1b0;
}
.menubar .nav {
  float: left;
  text-align: left;
  display: inline;
}
.menubar .nav a {
  color: #202020;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 800px){
  .menubar .nav a {
  color: #202020;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  }
}
.menubar .nav .active {
  color: #43b1b0;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 800px){
  .menubar .nav .active {
  color: #43b1b0;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  }
}
.menubar .nav a:hover {
  color: #43b1b0;
  text-decoration: none;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
}
@media (max-width: 800px){
  .menubar .nav a:hover {
  color: #43b1b0;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  }
}
/* content */
.intro {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  color: #202020;
  margin-left: 160px;
  margin-right: 160px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.box {
  margin-left: 220px;
  margin-right: 220px;
}
@media (max-width: 1365px){
  .box {
  margin-left: 160px;
  margin-right: 160px;
  }
}
@media (max-width: 900px){
  .box {
  margin-left: 40px;
  margin-right: 40px;
  }
}
.content {
  padding-top: 15px;
  padding-bottom: 15px;
  background: #ffffff;
  color: #202020;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.subheading {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 20px;
}
.subheading h2 span {
  color: #43b1b0;
  font: bold 20px Helvetica, Sans-Serif;
  letter-spacing: -1px;
  background: rgb(0, 0, 0); /* fallback color */
  background: rgba(255, 255, 255, 0.6);
  padding: 20px;
}
.subheading-smaller {
  position: relative;
  font: 16px Helvetica, Sans-Serif;
  top: 25px;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0;
  margin-bottom: 0;
}
/* blog index */
.post {
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 10px;
  margin-top: 10px;
  background: #ffffff;
  -webkit-transition: margin 0.5s;
  color: #202020;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.post-hovered {
  -webkit-transition: margin 0.5s;
  background: #43b1b0;
  color: #202020;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
@media (max-width: 1300px){
  .post-hovered {
  -webkit-transition: margin 0.5s;
  background: #43b1b0;
  color: #202020;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 0;
  margin-right: 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
}
.post-image {
  padding-top: 10px;
  margin-bottom: -25px;
}
.post-title {
  text-align: center;
  padding-right: 30px;
  margin-top: -10px;
  margin-bottom: -40px;
}
.category {
  margin-top: 5px;
}
@media (max-width: 1300px){
  .post-title {
  text-align: center;
  padding-right: 30px;
  margin-top: -20px;
  margin-bottom: -31px;
  }
}
@media (max-width: 768px){
  .post-title {
  text-align: center;
  padding-right: 30px;
  margin-top: -30px;
  margin-bottom: 0;
  }
}
.post-title h5 {
  margin-top: 20px;
  margin-bottom: 30px;
}
@media (max-width: 1300px){
  .post-title h5 {
  margin-top: 8px;
  margin-bottom: 8px;
  }
}
.post-title h6 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (max-width: 1300px){
  .post-title h6 {
  margin-top: 8px;
  margin-bottom: 8px;
  }
}
.arrow {
  background: #43b1b0;
  color: #202020;
  padding: 0;
  margin: 0;
}


/* no padding for col */
.no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/* line 5, ../sass/project.scss */
.alert-debug {
  color: black;
  background-color: white;
  border-color: #d6e9c6;
}

/* line 11, ../sass/project.scss */
.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/* line 17, ../sass/project.scss */
.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

/* line 23, ../sass/project.scss */
.alert-warning {
  color: black;
  background-color: orange;
  border-color: #d6e9c6;
}

/* line 29, ../sass/project.scss */
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

html, body {
       height: 100%;
 }


body {
       margin: 0px;
       padding: 0px;
 }


div#wrapper {
       width: 100%;
       min-height: 100%;
       height: auto !important;
       height: 100%;
       margin: 0px 0px -41px 0px;
 }


div#footer-wrapper {
       width: 100%;
       height: 41px;
 }


div#content-wrapper {
       width: 100%;
       padding: 0px 0px 41px 0px;
 }