.main-heading {
  margin-top: 50px;
  text-align: center;
}
.main-heading h5 {
  font-weight: 300;
}
.subheading-smaller {
  margin-top: 20px;
  margin-bottom: -30px;
  font-weight: 500;
  font-size: 18px;
}
.content li {
  margin-bottom: 5px;
}
.table-of-contents {
  position: fixed;
  top: 20%;
  font-weight: 500;
}
/* INDEX */
#search {
  margin-top: 20px;
  margin-bottom: 0;
}
.card {
  color: rgba(0, 0, 0, 0.87);
}
.index-title-noimage {
  padding-left: 28px;
  margin-top: 15px;
  margin-bottom: 5px;
  border-bottom: solid;
  border-width: 1px;
  border-color: rgba(130, 130, 130, 0.6);
}
.index-title-noimage .title {
  display: inline-block;
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 25px;
}
.left-nav {
  position: fixed;
  padding-top: 140px;
  padding-left: 20px;
  font-weight: 300;
  
}
.left-nav h6 {
  border-left: solid;
  border-color: rgba(70, 70, 70, 0.87);
  border-width: 2px;
  padding: 7px 0 7px 7px;
}
.left-nav li {
  padding-left: 20px;
  padding-bottom: 6px;
}
.left-nav li a {
  color: rgba(0, 0, 0, 0.87);
}
.left-nav li a:hover {
  color: rgba(70, 70, 70, 0.87);
}

/* SHARED */
.post-meta-container {
  text-align: center;
}
.post-meta {
  display: inline-block;
}
.meta-tag {
  background-color: rgba(20,20,20,0.8);
  color: #ffffff;
  padding: 2px 8px 2px 8px;
  margin: 3px;
}
.meta-tag a {
  text-decoration: none;
  color: #ffffff;
}
.author-post {
  text-decoration: none;   
  color: rgba(0, 0, 0, 0.87);
}
