<div class="loading" ng-show="show_loading">
  <md-progress-linear md-mode="indeterminate"></md-progress-linear>
</div>

<div id="post-list" ng-show="!show_loading" class="animated zoomIn">
  <div layout="row" layout-xs="column" layout-sm="column" layout-md="column" style="margin-top: 15px" id="categories">
    <div flex-offset="5" flex-gt-md="15" style="margin-right: 5px">
      <h3 class="md-title">Categories</h3>
    </div>
    <div flex-offset="5" flex-offset-gt-md="0" style="margin-top: 17px; margin-bottom: 10px;">
      <a href="/#/blog" style="margin-bottom: 5px;">
          <span class="meta-tag" ng-class="{'active meta-tag':params_category == category, 'meta-tag':params_category != category}" style="margin-right: 15px;">
            All
          </span>
      </a>
      <a ng-repeat="category in categories" href="{$ '/blog?category=' + category $}" style="margin-bottom: 10px;">
          <span
                ng-class="{'active meta-tag':params_category == category, 'meta-tag':params_category != category}"
                style="margin-right: 15px;">
            {$ category $}
          </span>
      </a>
    </div>
  </div>
  <md-divider></md-divider>

    <section layout="column" infinite-scroll="loadMore()" infinite-scroll-distance='1'>

      <div ng-repeat="post in posts.pages | orderBy:'-id' | filter:search | filter:author | limitTo: postLimit"
           layout="column"
           flex="100">
        <div layout="row" ng-show="filterCategory(post.id)" class="index-post">
          <span flex-offset="5" flex="10" layout="column" layout-padding hide-xs hide-sm hide-md>
            <div flex></div>
            <span class="post-list-date" flex layout-align="center center" layout="row">
              {$ post.date | date : 'd  MMMM  yyyy' $}
            </span>
            <div flex></div>
          </span>
          <div flex-offset="5" flex-gt-md="75" flex="100" layout="column">
            <a href="{$ '/blog/' + slugify(post.title) $}" ng-mouseenter="hover=true" ng-mouseleave="hover=false"><h2 class="index-post-title">{$ post.title $}</h2>
            </a>
            <span layout="row" layout-align-lt-lg="center center" hide-gt-md style="margin-top: 8px">
              <ng-md-icon icon="today" style="fill: rgb(60,60,60)"></ng-md-icon>
              <span flex>
                {$ post.date | date : 'd  MMMM  yyyy' $}
              </span>
            </span>
            <span layout="row" layout-align-lt-lg="center center" style="margin-top: 8px">
              <ng-md-icon icon="folder" style="fill: rgb(60,60,60); padding-top: 3px"></ng-md-icon>
              <span ng-repeat="category in post.categories">
                <span class="meta-tag">{$ category.value $}</span>
              </span>
            </span>
            <span ng-bind-html="post.intro">
            </span>

          </div>
        </div>
        <md-divider ng-show="filterCategory(post.id)" md-inset ng-if="!$last"></md-divider>
      </div>
      <hr/>
    <hr/>
    </section>
</div>

