<div class="row">
	<div class="left-nav animated fadeIn hide-on-small-only">
		<h5>Categories</h5>
		<ul class="all-category">
			<li><a ng-class="{'active':params_category == null}" href="/#/blog">All</a></li>
		</ul>
		<ul ng-repeat="category in getCategories()">
			<li><a ng-class="{'active':params_category == category}" href="{$ '/blog?category=' + category $}">{$ category $}</a></li>
		</ul>
	</div>

	<div class="col s12 m8 offset-m2">
	  <form class="col s12 m8 offset-m2" id="search">
	    <div class="row animated fadeIn">
	      <div class="input-field animated fadeIn">
	        <i class="material-icons prefix">search</i>
	        <input id="icon_prefix" type="text" class="validate" ng-model="search">
	        <label for="icon_prefix">Search Blog</label>
	      </div>
	    </div>
	  </form>
    <div ng-if="params_category == null">
		  <div class="row" id="index-posts" infinite-scroll="loadMore()">

        <div ng-repeat="post in posts.pages | orderBy:'-id' | filter:search | filter:author | limitTo: postLimit" ng-cloak>
          <div ng-show="filterCategory(post.id)" class="col s12 index-post animated fadeIn">
            <a href="{$ '/blog/' + slugify(post.title) $}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">

              <div class="card hoverable z-depth-2">

                <div ng-show="post.thumbnail_image" class="card-image">
                  <img ng-src="{$ getImage(post.thumbnail_image.id) $}" alt="" class="index-img">
                  <span class="card-title">{$ post.title $}</span>
                </div>

                <div ng-hide="post.thumbnail_image" class="index-title-noimage">
                  <span class="title">{$ post.title $}</span>
                </div>

                <div class="card-content card-content-mod black-text" style="padding-top: 10px">
                  <div ng-hide="hover" class="post-meta-container">
                    <div class="post-meta">
                      <div class="valign-wrapper animated fadeIn">
                        <i class="material-icons">today</i>&nbsp;
                        {$ post.date | date : 'd  MMMM  yyyy' $}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="material-icons">view_list</i>
                        <span ng-repeat="category in post.categories">
                          <span class="meta-tag">{$ category.value $}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div ng-show="hover" class="animated fadeIn flow-text" ng-bind-html=" post.intro"></div>
                </div>

              </div>
            </a>
          </div>
        </div>
      </div>
		</div> <!-- endrow -->

    <div ng-if="params_category != null">
		  <div class="row" id="index-posts">


        <div ng-repeat="post in posts.pages | orderBy:'-id' | filter:search | filter:author" ng-cloak>
          <div ng-show="filterCategory(post.id)" class="col s12 index-post animated fadeIn">
            <a href="{$ '/blog/' + slugify(post.title) $}" ng-mouseenter="hover=true" ng-mouseleave="hover=false">

              <div class="card hoverable z-depth-2">

                <div ng-show="post.thumbnail_image" class="card-image">
                  <img ng-src="{$ getImage(post.thumbnail_image.id) $}" alt="" class="index-img">
                  <span class="card-title">{$ post.title $}</span>
                </div>

                <div ng-hide="post.thumbnail_image" class="index-title-noimage">
                  <span class="title">{$ post.title $}</span>
                </div>

                <div class="card-content card-content-mod black-text" style="padding-top: 10px">
                  <div ng-hide="hover" class="post-meta-container">
                    <div class="post-meta">
                      <div class="valign-wrapper animated fadeIn">
                        <i class="material-icons">today</i>&nbsp;
                        {$ post.date | date : 'd  MMMM  yyyy' $}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <i class="material-icons">view_list</i>
                        <span ng-repeat="category in post.categories">
                          <span class="meta-tag">{$ category.value $}</span>
                        </span>
                      </div>
                    </div>
                  </div>
                  <div ng-show="hover" class="animated fadeIn flow-text" ng-bind-html=" post.intro"></div>
                </div>

              </div>
            </a>
          </div>
        </div>
      </div>
		</div> <!-- endrow -->

	</div>

</div>
