<div ng-repeat="post in post.pages" class="container container-mod  ">
  <div class="row card-panel post-container no-padding">
    <div class="col s12 m10 offset-m1 main-heading animated fadeIn">

        <div ng-if="post.main_image" class="row main-img">
          <div class="col s12">
            <a ng-href="{$ (all_images | filter:{id:post.main_image.id}:true)[0].file $}" data-lightbox="image">
              <img ng-src="{$ (all_images | filter:{id:post.main_image.id}:true)[0].file $}" class="responsive-img">
              <span ng-if="post.main_img_disc" class="main-img-disc">{$ post.main_img_disc $}</span>
            </a>
          </div>
        </div>

        <h2 id="title" class="center-align">{$ post.title $}</h2>
        <div class="post-meta hide-on-small-only">
          <div class="valign-wrapper">
            <i class="material-icons">today</i>{$ post.date | date : 'd  MMMM  yyyy' $}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">view_list</i>
            <span ng-repeat="category in post.categories">
              <span class="meta-tag"><a href="{$ '/blog?category=' + category.value $}"> &nbsp;{$ category.value $}&nbsp;</a></span>
            </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <i class="material-icons">perm_contact_calendar</i>&nbsp;By
              <a class="author-post" href="{$ '/blog?author=' + post.author $}">
                &nbsp;{$ post.author $}
              </a>
          </div>
        </div>
      </div>

  </div>
  <div class="row card-panel post-container">
    <div class="">

      <div ng-if="post.main_background_image">
        <div class="main-background">
          <img ng-src="{$ (all_images | filter:{id:content.value}:true)[0].file $}" class="responsive-img .main-background">
        </div>
      </div>

      <div ng-repeat="content in post.content">
        <div ng-if="content.type == 'content'">
          <div class="content animated fadeIn ">
              <div class="col s12 m10 offset-m1" ng-bind-html="content.value">
              </div>
          </div>
        </div>

        <div ng-if="content.type == 'code_block'">
          <div class="code-block animated fadeIn">
            <div class="col s12 m10 offset-m1" ng-bind-html="content.value | unsafe">
            </div>
          </div>
        </div>

        <div ng-if="content.type == 'pre_tag'">
          <div class="code-block animated fadeIn">
            <div class="col s12 m10 offset-m1">
              <pre class="prettyprint">{$ content.value $}</pre>
            </div>
          </div>
        </div>

        <div ng-if="content.type == 'raw_html'">
          <div class="animated fadeIn">
            <div class="col s12 m10 offset-m1" ng-bind-html="content.value | unsafe">
            </div>
          </div>
        </div>

        <div ng-if="content.type == 'subheading'">
          <div class="animated fadeIn flow-text">
            <div class="col s12 m10 offset-m1 subheading">
              <h2 ng-bind-html="content.value"></h2>
            </div>
          </div>
        </div>

        <div ng-if="content.type == 'smaller_subheading'">
          <div class="animated fadeIn">
            <div class="col s12 m10 offset-m1 center-align subheading-smaller">
              <div ng-bind-html="content.value"></div>
            </div>
          </div>
        </div>

        <div ng-if="content.type == 'subheading_background'">
          <div class="subheading-background animated fadeIn">
             <img ng-src="{$ (all_images | filter:{id:content.value}:true)[0].file $}" class="responsive-img">
          </div>
        </div>

        <div ng-if="content.type == 'full_image'" class="center-align">
          <div class="animated fadeIn">
            <div class="col s12 m10 offset-m1 full-image-cont">
              <a ng-href="{$ (all_images | filter:{id:content.value}:true)[0].file $}" data-lightbox="image"><img ng-src="{$ (all_images | filter:{id:content.value}:true)[0].file $}" class="responsive-img full-img"></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div ng-repeat="post in post.pages" ng-if="post.related_post.length > 0" class="container container-mod">
  <div class="row card-panel post-container">

    <div class="col s12 m10 offset-m1 related-post flow-text" ng-show="post.related_post.length > 0">
      <h4>Related Post</h4>
      <div ng-repeat="related_post in post.related_post">
        <ul class="all-category" ng-repeat="posT in posts.pages" class="col s12 m10 offset-m1 flow-text">
          <li ng-if="related_post.value == posT.id"><a href="{$ '#/blog/' + slugify(posT.title) $}">{$ posT.title $}</a></li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div ng-repeat="post in post.pages" class="container container-mod">
  <div class="row card-panel post-container">
    <div class="col s12 m10 offset-m1" id="comments">
      <h4>Comments</h4>
      <div disqus=" post.title "></div>
    </div>

  </div>
</div>

<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css&amp;skin=desert"></script>


